@font-face {
    font-family: "AvenirNext";
    src: local("Avenir Next Regular");
    src: url(../../assets/fonts/Alternative_files/AvenirNextLTPro.ttf) format("opentype");
    font-weight: 400;
};

@font-face {
    font-family: "AvenirNext";
    src: local("Avenir Next Demi Bold");
    src: url(../../assets/fonts/Alternative_files/AvenirNextLTProDemi.ttf) format("opentype");
    font-weight: 600;
};

@font-face {
    font-family: "AvenirNext";
    src: local("Avenir Next Bold");
    src: url(../../assets/fonts/Alternative_files/AvenirNextLTProBold.ttf) format("opentype");
    font-weight: 700;
};