@import './mixins';

body {
    width: 100vw;

    @include font-styling(400, $black);

    a {
        text-decoration: none;
    }

    ul {
        list-style-type: none;
    }

    li {
        list-style-type: none;

        @include mobile {
            @include format-text(1.25rem, 1rem, 400);
            @include pad(0, 1rem, 0);
        }

        @include tablet {
            @include format-text(1.25rem, 1rem, 400);
            @include pad(2rem, 2rem, 0);
        }

        @include desktop {
            @include format-text(1.25rem, 1rem, 400);
            @include pad(2rem, 2rem, 0);
        }
    }

    h1 {
        @include mobile {
            @include format-text(2rem, 1.5rem, 700);
            @include pad(1.5rem, 1rem, 0);
        }

        @include tablet {
            @include format-text(2.75rem, 2rem, 700);
            @include pad(2.25rem, 1.5rem, 0);
        }

        @include desktop {
            @include format-text(2.75rem, 2rem, 700);
            @include pad(2.25rem, 1.5rem, 0);
        }
    }

    h2 {
        @include mobile {
            @include format-text(2rem, 1.5rem, 700);
            @include pad(0, 0, 0);
        }

        @include tablet {
            @include format-text(2.5rem, 1.75rem, 700);
            @include pad(0, 0, 0);
        }

        @include desktop {
            @include format-text(2.5rem, 1.75rem, 700);
            @include pad(0, 0, 0);
        }
    }

    h3 {
        @include mobile {
            @include format-text(1.125rem, 0.875rem, 700);
            @include pad(0, 0, 0);
        }

        @include tablet {
            @include format-text(1.25rem, 1rem, 700);
            @include pad(0, 1.5rem, 0);
        }

        @include desktop {
            @include format-text(1.25rem, 1rem, 700);
            @include pad(0, 1.5rem, 0);
        }
    }

    h4 {
        @include mobile {
            @include format-text(1.125rem, 0.8125rem, 600);
            @include pad(0, 1rem, 0);
        }

        @include tablet {
            @include format-text(1.375rem, 0.875rem, 600);
            @include pad(0, 1rem, 0);
        }

        @include desktop {
            @include format-text(1.375rem, 0.875rem, 600);
            @include pad(0, 1rem, 0);
        }
    }

    p, span {
        @include mobile {
            @include format-text(1.125rem, 0.8125rem, 600);
            @include pad(0rem, 0, 0);
        }

        @include tablet {
            @include format-text(1.375rem, 0.875rem, 600);
            @include pad(0, 0, 0);
        }

        @include desktop {
            @include format-text(1.375rem, 0.875rem, 600);
            @include pad(0, 0, 0);
        }
    }

    label {
        @include font-styling(700, $Silver);

        padding: 0;
        margin-bottom: 0.25rem;
        
        @include mobile {
            @include format-text(1.25rem, 0.625rem, 600);
        }

        @include tablet {
            @include format-text(1.25rem, 1rem, 600);
        }

        @include desktop {
            @include format-text(1.25rem, 1rem, 600);
        }
    }

    button {
        background-color: $light-blue;
        display: block;
        border: none;
        border-radius: 0.25rem;
        text-transform: uppercase;
        padding: 0;
        margin: 0;
        @include font-styling(400, $White);

        @include mobile {
            @include format-text(1.25rem, 0.625rem, 600);
            height: 2.5rem;
            width: 100%;
            flex-grow: 1;
        }

        @include tablet {
            @include format-text(1.25rem, 0.75rem, 600);
            height: 2.5rem;
            width: 9.375rem;
            flex-grow: 0;
        }

        @include desktop {
            @include format-text(1.25rem, 0.75rem, 600);
            height: 2.5rem;
            width: 9.375rem;
        }

        &:hover {
            background-color: $dark-blue;
            transition: all ease-in-out 0.2s;
        }
    }

    input, textarea {
        @include font-styling(400, $black);
        background-color: $Alabaster;
        border: 0.0625rem solid $Mercury;
        border-radius: 0.25rem;

        min-width: 15rem;
        min-height: 2.5rem;

        padding: 0.75rem;

        @include tablet {
            padding: 0.75rem 1rem;
        }

        @include desktop {
            padding: 0.75rem 1rem;
        }

        &::placeholder {
            @include font-styling(400, $black);
            padding: 0;

            @include mobile {
                @include format-text(1rem, 0.8125rem, 400);
            }
    
            @include tablet {
                @include format-text(1rem, 0.875rem, 400);
            }
    
            @include desktop {
                @include format-text(1rem, 0.875rem, 400);
            }
        }

        &:focus {
            outline: none;
            border: 0.0625rem solid $light-blue;
        }

        &.invalid {
            outline: none;
            border: 0.0625rem solid $Error;
        }
    }
}