// Breakpoints
$desktop-break: 1280px;
$tablet-break: 768px;
$mobile-break: 320px;

// Colors
$light-blue: #42ADE2;
$dark-blue: #0065AD;
$light-gray: #DAE3EA;
$dark-gray: #ACB8BF;
$black: #3E4347;
$White: #FFFFFF;
$Mercury: #E1E1E1;
$Alabaster: #FAFAFA;
$Silver: #AFAFAF;

// Error color
$Error: #d22d2d;