@use '../../styles/partials/global';
@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.search {
    padding: 0 10vw;
    display: flex;
    flex-direction: column;

    width: 40vw;

    &__method {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 3rem;

        width: 40vw;

        &--selected {
            background-color: $dark-blue;
        }
    }

    &__img-container {
        width: 40%;
    }

    &__img {
        width: 100%;
    }

    &__container {
        display: flex;
        width: 100%;

        &__left {
            display: flex;
            flex-direction: column;
        }
    }
}